<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted pull-right">
            <%= comment.date %>

        </div>

        <%= comment.commentAuthor + " : " + comment.comm %>
    </div>
</div>
